*{
	margin:0;
	padding:0;
}

body{
	background:#8f9fb2;
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-produtos{
	margin:110px auto;
	width:900px;
	height:400px;
	background:white;
}

.titulo-container{
	color:#112a48;
	font-weight: normal;
}

.container-produtos .titulo-container{
	font-size:25px;
	padding:40px 0 25px 40px;
}

.modal .titulo-container{
	text-align: center;
	font-size:21px;
	padding:25px 0 5px;
}

.container-inputs{
	margin:0 auto 20px auto;
	width:90%;
	height:40px;
	clear:both;
}

.container-search{
	float:left;
	width:75%;
	height:inherit;
	background:#e1ecfa;
	display: flex;
	align-items: center;
}

.icon-align{
	margin-top:-5px;
	margin-left:10px;
}

.input-search{
	outline:none;
	border:0;
	width:80%;
	color:#34495e;
	font-size:16px;
	background:inherit;
	padding:8px 0 8px 5px;
	font-weight: bold;
}

.container-add{
	float:right;
}

.divisor{
	background:#e0e5e6;
	display: block;
	height:1px;
	width:90%;
	margin:0 auto;
}

.btn{
	border:0;
	background:#112a48;
	color:white;
	font-weight: bold;
	cursor:pointer;
}
.btn:focus{
	outline:none;
}

.btn-medium{
	padding:13px 10px;
}

.btn-large{
	border-radius:3px;
	font-size:17px;
	font-weight: lighter;
	padding:15px 30px;
	width:100%;
}

.container-footer{
	width:90%;
	margin:10px auto;

	display: flex;
	align-items: center;
	justify-content: space-between;

}

.indicador-acoes{
	font-weight: 500;
	color:#5b6a6b;
	letter-spacing: -1px;
	margin-left:10px;
}

.indicador-acoes:before{
	content:"";
	display: inline-block;
	width:6px;
	height:6px;
	margin: 0 5px;
	border-left: 3px solid #5b6a6b;
	border-top: 3px solid #5b6a6b;
	border-right:0 
	border-bottom: 0;
	transform:rotate(45deg);
}

.indicador-acoes , .contador-dados{
	color:#5b6a6b;
}

.contador-dados{
	margin-left:50px;
	font-weight: 500;
}

.paginacao{
	display: flex;
	align-items: center;
	justify-content: space-between;

	list-style: none;
}

.numero-pagina{
	margin-right:5px;
	padding:3px 6px;
	cursor:pointer;
}

.numero-pagina:not(.current-page):hover{
	background:#f3f3f3;
}

.current-page{
	background:#112a48;
	color:white;
}

.modal{
	width:450px;
	height:auto;
	background:white;
	position:absolute;
	top:-400px;
	z-index:100;
	box-shadow:0px 0px 2px #7f8c8d;
	opacity: 0;
	transition:0.4s all;
}

.modal-add-item{
	padding-bottom:40px;
}

.modal-detalhe-item{
	width:550px;
	height:395px;
}

.modal-visible{
	top:90px;
	opacity: 1;
}

.icon-close{
	display: flex;
	align-items: center;
	justify-content: center;

	width:30px;
	height:30px;
	background:white;
	border-radius:100%;
	position:absolute;
	top:-10px;
	right:-10px;
	cursor:pointer;
}

.icon-back{
	position:absolute;
	z-index:100;
	color:black;
	top:10px;
	cursor:pointer;
	left:10px;
}

.container-produto{
	float:left;
	width:50%;
	height:100%;
}

.container-produto img{
	width:100%;
	height:100%;
}

.detalhes-produto{
	width:50%;
	height:100%;
	float:right;
}

.item-detalhe:first-of-type{
	margin-top:50px;
}

.item-detalhe{
	width:90%;
	height:55px;
	margin:30px auto 0;
}

.icon-detalhe{
	width:25%;
	height:100%;
	border-right:3px solid #e3eefa;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	float:left;
}

.infos-produto{
	float:right;
	width:70%;
}

.titulo-informacao , .valor-informacao{
	padding-left:0px;
}

.titulo-informacao{
	color:#bbbbbb;
	font-size:15px;
	margin-top:5px;
}

.valor-informacao{
	font-size:23px;
	color:#152e4b;
	font-weight: 500;
}


.icon-detalhe img{
	width:50%;
	height:50%;
	margin-right:10px;
}