*{
	margin:0;
	padding:0;
	font-family:"Segoe UI";
}

.container-content{
	width:100%;
	border:1px solid #fff;
	height:100vh;
	margin:0 auto;
}

.navbar{
	width:100%;
	height:120px;
	background:#1b9a8a;
	position:relative;
	text-align:center;
}

.menu-action{
	width:100px;
	height:100%;
	position:absolute;
	left:25px;
}

.menu-action .bar-menu{
	display:inline-block;
	width:100%;
	height:13px;
	margin-top:10px;
	background:white;
}

.menu-action .bar-menu:first-child{ margin-top:25px;}

.title-page{
	font-size:45px;
	color:white;
	font-weight:bold;
	transform:translateY(50%);
	text-shadow:3px 3px #666;
}

.search{
	position:absolute;
	top:10px;
	right:10px;
	width:100px;
	height:100px;
}

.search:before , .search:after{
	content:"";
	display:block;
	position:absolute;	
}

.search:before{
	right:10px;
	top:10px;
	width:50px;
	height:50px;
	border-radius:100%;
	border:8px solid #fff;
}

.search:after{
	bottom:10px;
	left:20px;
	width:10px;
	height:30px;
	border-radius:10px;
	background:#fff;
	transform:rotate(45deg);
}

.box-search{
	position:absolute;
	top:-130px;
	left:0;
	z-index:2;
	width:82%;
	height:100%;
	transition:0.3s top;
}

.box-search-active{
	top:0;
}

.box-search .input-search{
	width: 100%;
	height: 80%;
	border:0;
	font-size:45px;
	padding: 9.5px 25px;
	color:#969694;
	letter-spacing:2px;
	font-weight:bold;
	border-bottom:5px solid #1b9a8a;
	outline:none;
	text-align:center;
}

.product-list{
	list-style:none;
	text-align:center;
	width:100%;
	margin:50px auto 0;
}

.product-item{
	position:relative;
	display:inline-block;
	width: 45%;
	margin:0  0 40px 0px;
	border:1px solid #ccc;
	height:600px;
/* 	background:#2d8f95; */
	box-shadow:0px 15px 10px -10px #777;
}

.product-item:nth-child(2n+1){
	margin-right:20px;
}

.ranking_product{
	z-index:10;
	position:absolute;
	display:block;
	top:0;
	right:0;
	font-size:50px;
	background:#ffffff;
	color:white;
	font-weight:bold;
	letter-spacing:1.5px;
	padding:5px 15px;
}

.item-screen{
	position:relative;
	z-index:3;
	height:100%;
	transition:0.2s height linear;
}

.item-screen-hide{
	height:70%;
}
.item-screen .item-image{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.item-legend{
	position:absolute;
	bottom:-25px;;
	right:25px;
	display:inline-block;
	padding:10px;
	background:#1b9a8a;
	font-size:30px;
	color:white;
	letter-spacing:-1px;
	cursor:pointer;
}

.container-details{z-index:20;height:30%;}

.product-details, .product-buy{
	position:absolute;
	bottom:0;
	width:50%;
	height:30%;
}

.product-details{
	text-align:left;
	float:left;
	left:0;
}

.product-buy{
 	float:right;
 	right:0;
}

.item-detail{
	font-size:25px;
	display:block;
	color:black;
	margin-bottom:5px;
	font-weight:bold;
	color:#888;
}

.item-detail:first-child{
	margin-top:5px;
}

.highlight{
	display:inline-block;
	font-size:25px;
	padding:5px;
	background:#1b9a8a;
	font-weight:bold;
	color:white;
	margin-bottom:5px;
}

.item-detail , .highlight{
	margin-left:15px;
}

.product-price{
	font-size:50px;
	letter-spacing:-1px;
	font-weight:bold;
	text-align:center;
	display:inline-block;
	margin-top:30px;
	margin-bottom:15px;
	color:#1b9a8a;
}

.action-buy{
	font-size:30px;
	border:0;
	display:inline-block;
	font-weight:bold;
	text-align:center;
	padding:10px 30px;
	color:white;
	background:#1b9a8a;
	text-transform:uppercase;
}
